// Navigation Styles here   

// Fun Bus Seciton
.fun-bus{
margin:2% 0% 1% 3%;
border-bottom: 2px dashed silver;
    h2{
        font-size: 3.2rem;
        padding-bottom:1%;
    }
        p{
        font-size: 1.6rem;
    }
}
// content section


.inverse-content{
    display:flex;
    .text-content{
        margin-left:3%;
    }
    
    

}


    
 


 





// Pick your Destination


// Destination options
.destination{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    .btn{
        .button(@eastern-blue,white, 50px, 200px);
    }
}
    
